{% extends 'base.html.twig' %}


{% block body %}

	{% if event.0.display %}
		{% include "/assets/_event.html.twig" %}
	{% endif %}

	{% include "/assets/_carousel.html.twig" %}

	<!-- infos & newsletter -->
	<div class=" infos container text-center">
		<div class="col-md">
			<h3 class="my-3">La Cave</h3>
			<p>Retrouvez la cave à Marseille dans le quartier de la plaine :
				<span>
					<a href="https://g.page/caveathes?share" target="_blank" class="adress p-1">
						7 Rue Fontange 13006 Marseille.</a>
				</span>
			</p>
			<h4 class="my-3">Horaires :
			</h4>
			<p>Du mardi au samedi 10h-13h et 15h-19h</p>
		</div>
		<div class="my-3">
			<p>
				<strong>Rester informé</strong>
			</p>
			<div class="group-form col-md-4 me-auto ms-auto">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email">
					<span class="input-group-btn">
						<button class="btn btn-outline-dark mx-3" type="button">s'abonner</button>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
