<div class="container my-5">
	<div class="alert text-center">
		<div class="alert-title">{{ event.0.title }}</div>
		<div class="alert-description">{{ event.0.description }}</div>

		{% if event.0.link %}
			<div class="alert-link">
				<a href="{{ event.0.link}}" class="alert-link">Voir la page de l'évenement</a>
			</div>
		{% endif %}
	</div>
</div>
