<nav class="navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('main') }}">
			<img src="images/typo/logo-bandeau-gris.png" alt="" height="40" class="d-inline-block align-text-middle">
			Cave à Thés
		</a>
	</div>
</nav>
